body {
  background-color: #008695;
  font-family: sans-serif;
}

.head {
  color: #fff;
  text-align: center;
  margin-bottom: 18px;
  font-size: 41px;
  margin-top: 67px;
  margin-right: 2px;
}
.in {
  background-color: #fff;
  color: #008695;
  padding: 0 2px;
  margin-left: 2px;
  border-radius: 2px;
}

.copy {
  color: #59AECO;
  font-size: 18px;
  margin-left: 2px;
}

.tagline {
  color: #fff;
  text-align: center;
  font-size: 27.2px;
}

.wrapper {
  width: 300px;
  margin: auto;
  background-color: #fff;
  overflow: hidden;
  padding: 35px 21px;
}

label {
  display: block;
  padding: 4px;
  font-size: 14px;
  color: gray;
}
input {
  display: block;
  width: 90%;
  padding: 3px;
}
a {
  text-decoration: none;
}
.policy {
  text-align: center;
  color: gray;
  font-size: 14px;
}
.btn {
  text-align: center;
  width: 100%;
  background-color: #008695;
  padding: 15px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 15px;
}
.configuration {
  text-align: center;
}
.corporation {
  text-align: center;
  color: lightgray;
}
